@media screen and (max-width: 865px) {

    body{
        font-size: 12px;
    }
    /*hamburger menu*/

    .desktop-menu{
        display: none;
    }

    

    .hamburger-menu{
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
        cursor: pointer;
    }

    .hamburger-nav{
        display: none;
    }

    .info-container{
        flex-direction: column;
    }

    #home{
        width: 500px;
        margin: 10rem auto;
        text-align: center;
    }

    .hero-text h1{
        font-size: 4rem;
        
    }

    .cards{
        flex-direction: column;
    }

    .shape img{

        display: flex;
        align-items: center;
        justify-content: center;
        top: -4rem;
        left: 21rem;
    }

   
   

    .why-us-content,
    .practice-content,
    .sectors-content{
        
        background-color: #fff;
        box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
        flex-direction: column;
        text-align: center;
        
        

    }

    .practice-container,
    .why-us-container,
    .sectors-container{
        display: table;
    }

    .about-us-container{
        flex-direction: column;
    }

    .about-us-content{
        width: 100%;
    }

    .learn-more{
        
        background-color: #fff;
        box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 80%;
    }

    .services-container{
        padding-top: 20rem;
    }
    .services-container .cards{
        flex-direction: column;
        
    }

    .img-container{
        margin: 0 auto;
        
        
    }

    .learn-more{
        position: absolute;
        top: 72rem;
        left: 3rem;
        
    }

    

    .why-us-container .img-container,
    .practice-container .img-container,
    .sectors-container .img-container{
        display: none;
        position: relative;
    }

    .card-row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .user-name{
        flex-direction: column;
    }
    .contact{
        flex-direction: column;
        gap: 0rem;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
    }

    iframe{
        width: 100%;
        
    }

    .right-container .button{
        margin: auto;
    }

    .footer-links{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    

    footer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 10rem;
        text-align: center;
    }

    
}