*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    

}

a{
    text-decoration: none;
    color: black;
}

li {
    list-style: none;

}

.button {
    background-color: #D4AF73;
    padding: 17px 35px;
    border: none;
    
}

.button a{
    font-weight: 700;
}


/* header and hero section */
.hero {
    background-image: radial-gradient(rgba(52, 52, 52, 0.86), rgba(52, 52, 52, 0.8)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 20px;
    
    
    
    

}

.desktop-menu,
.home-container{
    width: 80%;
    margin: 0 auto;
}



.hamburger-menu{
    display: none;
}


header{
    display: flex;
    justify-content: space-between;

}



.nav{
    display: flex;
    gap: 2rem;
}

nav ul{
    display: flex;
    gap: 2rem;
    padding-top: 0.8rem;
    
}

nav ul a{
    color: white;
}



.logo h1{
    font-weight: 700;
    font-size: 2rem;
    padding-left: 1rem;
}


#home{
    width: 700px;
    padding-left: 2rem;
    
}


.hero-text h1{
    color: #D4AF73;
    font-weight: 700;
    font-size: 5rem;
    padding-bottom: 1rem;
    line-height: 5rem;
    font-family: 'Alegreya', sans-serif;
    
}

.hero-text p{
    font-size: 1.2rem;
    padding-bottom: 1rem;
    color: #fff;
}

.shape{
    position: relative;
}

.shape img{
    position: absolute;
    left: 50%;
    top: 5rem;
}
/* about us section */

section{
  margin-top: 12rem;
  color: black;
  
  
    
}

.about-us-content{
    width: 80%;
    margin: auto;
}


.about-us-container p{
    color: black;
    padding-bottom: 1rem;

}

.about-us-container h2{
    color: black;
    font-family: 'Alegreya', sans-serif;
    padding-bottom: 1rem;

}

.about-us-container{
    display: flex;
    gap: 2rem;
    
}

.img-container{
    width: 300px;
    height: 400px;
}

.img-container img{
    max-width: 100%;
    height: auto;
}

.learn-more{
    width: 500px;
    height: 400px;
    padding-top: 5rem;
}

.learn-more button{
    background-color: black;
    
}

.learn-more a{
    color: #fff;
}

/* our services cards*/

.services-container{
    color: black;
    

}

.services-container h2{
    text-align: center;
    font-family: 'Alegreya', sans-serif;
}

.services-container .cards{
    display: flex;
    
    padding-top: 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
}

.cards h4{
    font-size: 0.8rem;
    padding: 10px;

}

.services-container .card-one{
    width: 200px;
    height: 200px;
    font-size: 0.8rem;
    background-color: rgba(246, 237, 224, 1);
    text-align: center;
}

.services-container .card-two{
    width: 200px;
    height: 200px;
    font-size: 0.8rem;
    background-color: rgba(241, 241, 241, 1);
    text-align: center;
}


/* sectors section */
.sectors-container,
.practice-container,
.why-us-container,
.info-container {
    display: flex;
    gap: 2rem;
}


.sectors-content p{
    padding-bottom: 1rem;
}

.card{
    padding: 1rem;
    width: fit-content;
    margin-bottom: 1em;
    font-size: 0.8rem;
}



/* our practice section*/

.practice-content p{
    padding-bottom: 1rem;
}

.card-row{
    display: flex;
    gap: 6px;

}

.card{
    background-color: rgba(246, 237, 224, 1);
    height: 50px;
    width: fit-content;

}

/* why-us*/

.why-us-container,
.practice-container,
.sectors-container{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.why-us-content h2,
.practice-container h2,
.sectors-container h2{
    padding-bottom: 2rem;
    font-family: 'Alegreya', sans-serif;
}

.partner{
    width: 400px;
    padding-bottom: 1rem;

}

/*call to action*/

#call-to-action{
    
    background-image: radial-gradient(rgba(52, 52, 52, 0.86), rgba(52, 52, 52, 0.8)),url(images/call-to-action.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    text-align: center;
    

}

.call-to-action-container{
    width: 400px;
    margin: auto;
    padding-top: 5rem;
    
}

.call-to-action-container p{
    font-family: 'Alegreya', sans-serif;
    padding-bottom: 1rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
}
/* contact us section */
#contact-us,
#why-us,
#our-practice,
#our-sectors
{
    width: 80%;
    margin: auto;
    padding-top: 5rem;
}

#contact-us{
    padding-top: 2rem;
}
.contact-us-container h2,
.contact-us-container p{
    padding-bottom: 1rem;
    text-align: center;
    
}

.info-container{
    padding-top: 2rem;
}

.user-name{
    display: flex;
    gap: 1rem;
    width: 100%;
}

.right-container form{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.right-container input,
.right-container textarea{
    padding: 0.8rem;
    width: 100%;
    font-family: 'inter', sans-serif;
    resize: none;

}



.right-container .button{
    background-color: #fff;
    width: 50%;
    border: 1px solid rgba(72, 72, 72, 1);
}

.info {
    display: flex;
    gap: 1rem;
}

.contact{
    display: flex;
    gap: 3rem;
}
.contact .box{
    
    width: 20px;
    height: 20px;
    background-color: black;
}

/*footer*/

footer{
    margin-top: 5rem;
    height: 6rem;
    background-color: rgba(52, 52, 52, 1);
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;


}

.footer-links{
    display: flex;
    gap: 1rem;
}

.footer-links ul{
    display: flex;
    gap: 1rem;
}
.footer-links a{
    color: #fff;
    font-weight: 400;
    font-size: 0.8rem;
}

.copyright{
    font-size: 0.8rem;

}